
    <div id="menuPrimario">
        <ul>
            <li><a class="active" href="https://localhost:44343/">Home</a></li>
            <li><a href="https://localhost:44343/listarcalculo">Listar</a></li>
            <li><a href="#contact">Login</a></li>
            <li><a href="#about">Agradecimentos</a></li>
        </ul>
    </div>
    <div id="menuSecundario">
        <ul>
            <li><a class="active" href="https://localhost:44343/basico">Basico:Soma e Subtração</a></li>
            <li><a href="https://localhost:44343/basico2">Basico: </a></li>
            <li><a href="https://localhost:44343/basico3">Contact</a></li>
            <li><a href="https://localhost:44343/area">About</a></li>
        </ul>
    </div>
