#menuPrimario ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menuPrimario li {
    float: left;
}

    #menuPrimario li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

#menuPrimario li a:hover:not(.active) {
    background-color: #111;
}

#menuPrimario .active {
    background-color: #04AA6D;
}
#menuSecundario {
    float :left;
    width: 300px;

}
    #menuSecundario ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
#menuSecundario li {
   height: 50px;
   text-align:center;
   padding:10px;
   border-bottom: solid 1px #fff;
}

