
    <div id="menuPrimario">
        <ul>
            <li><a class="active" href="https://localhost:44343/">Home</a></li>
            <li><a href="https://localhost:44343/listarcalculo">Listar</a></li>
            <li><a href="https://localhost:44343/login">Login</a></li>
            <li><a href="https://localhost:44343/agradecimento">Agradecimentos</a></li>
        </ul>
    </div>
    <div id="menuSecundario">
        <ul>
            <li><a class="active" href="https://localhost:44343/basico">Basico:Soma e Subtração</a></li>
            <li><a href="https://localhost:44343/basico2">Basico: Multiplicação e divisão</a></li>
            <li><a href="https://localhost:44343/basico3">Basico: Potencia e raiz</a></li>
            <li><a href="https://localhost:44343/areas">Calculo de Areas</a></li>
        </ul>
    </div>
